{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}       
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br><br>
        <h4>Don't Have an Account?<a href="{% url 'signup' %}">Signup</a></h4>
        <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>