<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/seat_style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Movie Seat Booking</title>
  </head>
  <body>
    <div class="movie-container">
      <label> Movie:</label>
      <select id="movie">
        <option value="Godzilla vs Kong" selected>Godzilla vs Kong (RS.199)</option>
        <option value="Pathaan" selected>Pathaan(RS.199)</option>  
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Sold</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
    <div class="row"> 
    {% for seat in all_seats %}
        <div id= {{ seat.S_no1 }} 
        {% if seat.Status1 == "Unbooked" %}
        class="seat"
        {% else %}
        class="seat sold"
        {% endif %}></div>
    {% endfor %}
    </div>
    <div class="row"> 
    {% for seat in all_seats  %}
        <div id= {{ seat.S_no2 }} 
        {% if seat.Status2 == "Unbooked" %}
        class="seat"
        {% else %}
        class="seat sold"
        {% endif %}></div>
    {% endfor %}
    </div>
    <div class="row"> 
    {% for seat in all_seats %}
        <div id= {{ seat.S_no3 }} 
        {% if seat.Status3 == "Unbooked" %}
        class="seat"
        {% else %}
        class="seat sold"
        {% endif %}></div>
    {% endfor %}
    </div>
    <div class="row"> 
    {% for seat in all_seats %}
        <div id= {{ seat.S_no4 }} 
        {% if seat.Status4 == "Unbooked" %}
        class="seat"
        {% else %}
        class="seat sold"
        {% endif %}></div>
    {% endfor %}
    </div>
    <div class="row">
    {% for seat in all_seats %} 
        <div id= {{ seat.S_no5 }} 
        {% if seat.Status5 == "Unbooked" %}
        class="seat"
        {% else %}
        class="seat sold"
        {% endif %}></div>
    {% endfor %}
    </div>
    <div class="row"> 
    {% for seat in all_seats %}
        <div id= {{ seat.S_no6 }} 
        {% if seat.Status6 == "Unbooked" %}
        class="seat"
        {% else %}
        class="seat sold"
        {% endif %}></div>
    {% endfor %}
    </div>
  </div>
    <p class="text">
      You have selected <span id="count">0</span> seat for a price of RS.<span id="total">0</span>
    </p>
    <button onclick="checkout()" id="checkout">Book</button>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>